html,
body,
#root {
  height: 100%;
  margin: 0;
}

#root {
  overflow: auto;
}

body {
  background-image: url('images/travel-stickers.jpg');
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.97;
}
